<div class="container" *ngIf="isLoggedIn; else loggedOut">
  <header class="app-controller">
    <h3>
      <strong> Welcome cusadmin! </strong>
    </h3>
  </header>
  <div class="example">
    <div class="light-1">
      <img src="../../assets/light-on.svg"/>
    </div>
    <div class="light-2">
      <img src="../../assets/light-on.svg"/>
    </div>
    <div class="light-3">
      <img src="../../assets/light-on.svg"/>
    </div>
    <div class="light-4">
      <img src="../../assets/light-on.svg"/>
    </div>
    <div class="light-5">
      <img src="../../assets/light-on.svg"/>
    </div>
      <!-- <img src="../../assets/light-on.svg"/>
      <img src="../../assets/light-on.svg"/>
      <img src="../../assets/light-on.svg"/>
      <img src="../../assets/light-on.svg"/>
      <img src="../../assets/light-on.svg"/> -->

      <!-- <div class="light">
        <img src="../../assets/light-on.svg" 
          style="position: absolute; bottom: 300px; left: 100px;"
        /> -->
        <!-- <img src="../../assets/light-on.svg"
          style="position: absolute; bottom: 650px; left: 100px;"
        />
        <img src="../../assets/light-on.svg"
          style="position: absolute; bottom: 750px; left: 550px;"
        />
        <img src="../../assets/light-on.svg"
          style="position: absolute; bottom: 600px; left: 425px;"
        />
        <img src="../../assets/light-on.svg"
          style="position: absolute; bottom: 700px; left: 700px;"
        /> -->
      <!-- </div> -->

  </div>
</div>
  
<ng-template #loggedOut>
  <h3> 
    <strong> Please log in! </strong>
  </h3> 
</ng-template>
  