.center {
    background-color: #FFFFFF;
}
.example {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 70.75%;
    background: url("../../assets/diagram.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
.img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.light {
    position: absolute;
    width: 8.5%;
    height: 8.5%;
}
#light-0 {
    top: 27%;
    left: 12%;
}
#light-1 {
    top: 27%;
    right: 38%;
}
#light-2 {
    bottom: 30%;
    left: 12%;
}
#light-3 {
    bottom: 30%;
    left: 40%;
}
#light-4 {
    bottom: 30%;
    right: 26%;
}
.btn-all-lights {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 15%;
    height: 7%;
    top: 0%;
    right: 0%;
}