<div class="container" *ngIf="isLoggedIn; else loggedOut">
  <header class="app-controller">
    <h3>
      <strong> Welcome cusadmin! </strong>
    </h3>
  </header>
  <div class="example">
    <div *ngFor="let i of lightsOn; let idx = index">
      <div class="light" id="light-{{idx}}">
        <input (click)="switchLight(idx)"
          type="image" 
          [src]="i == true 
                ? '../../assets/light-on.svg' 
                : '../../assets/light-off.svg'" 
        />
      </div>
    </div>
    <button (click)="turnOnLights()" class="btn-on-lights">
      Encender luces
    </button>
    <button (click)="turnOffLights()" class="btn-off-lights">
      Apagar luces
    </button>
  </div>
</div>
  
<ng-template #loggedOut>
  <h3> 
    <strong> Please log in! </strong>
  </h3> 
</ng-template>
  